<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiappo.open.api.dao.mapper.openapi.MessageTransferRoutePoMapper" >
  <resultMap id="BaseResultMap" type="com.jiappo.open.api.support.model.po.MessageTransferRoutePo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="platform_name" property="platformName" jdbcType="VARCHAR" />
    <result column="message_type" property="messageType" jdbcType="VARCHAR" />
    <result column="target_http_api" property="targetHttpApi" jdbcType="VARCHAR" />
    <result column="target_http_method" property="targetHttpMethod" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_modified_time" property="lastModifiedTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="last_modified_user_id" property="lastModifiedUserId" jdbcType="INTEGER" />
    <result column="message_route_type" property="messageRouteType" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="secret_key_activate_begin_time" property="activateBeginTime" jdbcType="TIMESTAMP" />
    <result column="secret_key_expired_time" property="expiredTime" jdbcType="TIMESTAMP" />
    <result column="call_target_timeout_millisecond" property="callTargetTimeoutMillisecond" jdbcType="INTEGER"/>
    <result column="route_impl_service" property="routeImplService" jdbcType="VARCHAR"/>
    <result column="secret_key" property="secretKey" jdbcType="VARCHAR"/>
  </resultMap>

  <select id="queryRouteSingleBy" resultMap="BaseResultMap">
    SELECT
      id,
      platform_name,
      message_type,
      target_http_api,
      target_http_method,
      create_time,
      last_modified_time,
      create_user_id,
      last_modified_user_id,
      message_route_type,
      is_deleted,
      secret_key_activate_begin_time,
      secret_key_expired_time,
      call_target_timeout_millisecond,
      route_impl_service,
      secret_key
    FROM
      route
    WHERE platform_name=#{platformName}
      AND message_type=#{messageType}
      AND message_route_type=#{messageRouteType}
      AND is_deleted=0
  </select>
</mapper>