<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiappo.open.api.dao.mapper.openapi.MessageTicketPoMapper" >
  <resultMap id="BaseResultMap" type="com.jiappo.open.api.support.model.po.MessageTicketRecordPo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="message_source" property="messageSource" jdbcType="VARCHAR" />
    <result column="message_type" property="messageType" jdbcType="VARCHAR" />
    <result column="message_id" property="messageId" jdbcType="VARCHAR" />
    <result column="ticket_value" property="ticketValue" jdbcType="VARCHAR" />
    <result column="ticket_type" property="ticketType" jdbcType="INTEGER"/>
    <result column="verified_status" property="verifiedStatus" jdbcType="INTEGER" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP"/>
    <result column="expired_date" property="expiredDate" jdbcType="INTEGER" />
    <result column="ticket_md5" property="ticketMd5" jdbcType="VARCHAR"/>
    <result column="is_delete" property="isDelete" jdbcType="BIT"/>
    <result column="is_precreated" property="isPreCreated" jdbcType="BIT"/>
    <result column="data_body" property="dataBody" javaType="java.util.Collection"
            typeHandler="com.jiappo.open.api.support.mybatis.JsonReferenceHandle" jdbcType="VARCHAR"/>
  </resultMap>

      <insert id="saveTicket"
              parameterType="com.jiappo.open.api.support.model.po.MessageTicketRecordPo"
              useGeneratedKeys="true"
              keyProperty="id">
        insert into ticket_record (
                                             ticket_md5
                                            ,message_source
                                            ,message_type
                                            ,message_id
                                            ,ticket_value
                                            ,ticket_type
                                            ,expired_date
                                            ,is_precreated
                                            ,data_body) values
                                    (#{ticketRecordPo.ticketMd5}
                                    ,#{ticketRecordPo.messageSource}
                                    ,#{ticketRecordPo.messageType}
                                    ,#{ticketRecordPo.messageId}
                                    ,#{ticketRecordPo.ticketValue}
                                    ,#{ticketRecordPo.ticketType}
                                    ,#{ticketRecordPo.expiredDate}
                                    ,#{ticketRecordPo.isPreCreated}
                                    ,#{ticketRecordPo.dataBody
                                    ,typeHandler=com.jiappo.open.api.support.mybatis.JsonReferenceHandle})
      </insert>

    <insert id="saveNewTicketVerifiedResult"  parameterType="com.jiappo.open.api.support.model.po.MessageTicketRecordPo"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into ticket_record (
            ticket_md5
            ,message_source
            ,message_type
            ,message_id
            ,ticket_value
            ,ticket_type
            ,expired_date
            ,is_precreated
            ,verified_date
            ,verified_status) values
        (#{ticketRecordPo.ticketMd5}
            ,#{ticketRecordPo.messageSource}
            ,#{ticketRecordPo.messageType}
            ,#{ticketRecordPo.messageId}
            ,#{ticketRecordPo.ticketValue}
            ,#{ticketRecordPo.ticketType}
            ,#{ticketRecordPo.expiredDate}
            ,#{ticketRecordPo.isPreCreated}
            ,#{ticketRecordPo.verifiedDate}
            ,#{ticketRecordPo.verifiedStatus})
    </insert>

    <select id="querySingleTicket" parameterType="java.lang.String" resultMap="BaseResultMap">
        select id
                ,ticket_md5
                ,message_source
                ,message_type
                ,message_id
                ,ticket_value
                ,ticket_type
                ,verified_status
                ,created_date
                ,expired_date
                ,verified_date
                ,is_delete
                ,is_precreated
                ,data_body
        from ticket_record where ticket_md5=#{ticketMd5Value} order by created_date desc limit 1;

    </select>

    <update id="setTicketVerifiedResult" parameterType="com.jiappo.open.api.support.model.po.MessageTicketRecordPo">
        update ticket_record set
                                         verified_status=#{ticketRecordPo.verifiedStatus}
                                         ,verified_date=now()
         where id=#{ticketRecordPo.id}
    </update>

    <update id="setTicketSnapshotData" parameterType="com.jiappo.open.api.support.model.po.MessageTicketRecordPo">
        update ticket_record set data_body=#{ticketRecordPo.dataBody
         ,typeHandler=com.jiappo.open.api.support.mybatis.JsonReferenceHandle}
         where id=#{ticketRecordPo.id}
    </update>
</mapper>